@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: "Times New Roman", Times, serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 95px;
    background-color: #222f3d;
    /* background-color: rgb(15, 5, 5); */
    color: white;
}

p {
    margin-top: 18px;
    margin-bottom: 1rem;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li .active a {
    background-color: #fff;
    color: #000;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 95px;
    padding: 0 8px;
}

body {
    background-image: url('107.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    color: rgb(6 6 6);
}


/* header add */

header {
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: rgb(98, 221, 192);
    color: black;
    padding: 1px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 30px;
    font-size: larger 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    margin: 30px;
    font-size: larger 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#search-input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    /* background: transparent; */
    color: rgb(2, 22, 15);
    font-size: 18px;
    padding: 0 39px;
    padding: 25px;
    margin-right: 70px;
}

#search-button,
#show-more-button {
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: #007bff;
    border-color: black;
    color: rgb(255, 242, 242)(148, 41, 41);
    border: none;
    cursor: pointer;
    margin: 10px;
    /* copy  */
    border: 0;
    outline: 0;
    border-radius: 4px;
}

.XDKcL {
    align-items: center;
    display: flex;
}

h1 {
    text-align: center;
    margin: 50px auto 50px;
    font: size 70px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: rgb(75, 104, 89);
    display: flex;
    align-items: center;
    border-radius: 8px;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: rgb(2, 22, 15);
    font-size: 18px;
    padding: 0 39px;
}

form button {
    padding: 0 40px;
    height: 100%;
    background: rgb(102, 172, 23);
    color: white;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder {
    color: white;
    font-size: 18px;
}

#Show-More-btn {
    background: rgb(14, 137, 209);
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 35px;
    border-radius: 4px;
    margin: 50px auto 100px;
    cursor: pointer;
    display: none;
}

#search-result {
    width: 95%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    background-color: #e5e3e378;
    border-radius: 10px;
    border-color: #000;
    border-left: rgb(102, 172, 23);
    margin-bottom: 4px;
}

#search-result img {
    width: 83%;
    margin-left: 30px;
    margin-top: 30px;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

.container {
    width: 50%;
    /* height: 50vh; */
    background-image: linear-gradient(rgde(0, 0, 50, 0.8), rgde(0, 0, 50, 0.8)), url(preview.png);
    background-position: center;
    background-size: relative;
}

footer {
    margin-top: 20px;
}

.foot-panel1 {
    background-color: #698eb6a8;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 400px; */
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    /* font-size: 0.200rem; */
    margin-top: 20px;
    color: #dddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: #fff;
    border-top: 0.10px solid rgb(235, 225, 225);
    height: 80px;
    display: flex;
    justify-content: center;
}


/* .logo{
    background-image: url(107.jpg);
    width: 75px;
    padding: 0 8px;
} */

.foot-panel4 {
    background-color: #7d9fc4;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages {
    /* font-size: 0.7rem; */
    text-align: center;
}


/* .navbar{
    font-family: "Times New Roman", Times, serif;
} */

p {
    margin-top: 15px;
    margin-left: 3rem;
    margin-bottom: -1rem;
}

#myVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

p-pf {
    margin-top: 15px;
    margin-left: 3rem;
    margin-bottom: -1rem;
}